.danger{
    padding: 10px;
    background-color: rgb(255, 58, 58);
    font-size: 24px;
    color: white;
    text-transform: uppercase;
}

.success{
    padding: 10px;
    background-color: rgb(94, 202, 61);
    font-size: 24px;
    color: white;
    text-transform: uppercase;
}