<ion-header>
  <ion-toolbar>
    <ion-title class="success" *ngIf="task.state==true">Realizada</ion-title>
    <ion-title class="danger" *ngIf="task.state==false">No realizada</ion-title>
    <ion-buttons slot="start" routerLink="/home">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Vencimiento</ion-card-subtitle>
      <ion-card-title>{{task.start}}</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Tarea</ion-card-subtitle>
      <ion-card-title>{{task.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      DESCRIPCION: <hr>
      {{task.description}}
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ingresado</ion-card-subtitle>
      <ion-card-title>{{task.start}}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>